@{
    ViewData["Title"] = "Room Reservation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-box">
        <h3>Cadastre-se</h3>
        <form method="post" action="/User/SingUp" class="inputs-form">
            <input type="text" name="name" placeholder="Nome" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="tel" name="phoneNumber" placeholder="Telefone" required>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            alert(errorMessage); // Exibe o alerta com a mensagem de erro
        }
    </script>
}

